In [62]:
x='{0:_^5}'.format('exam')
y='{0:.3f}'.format(7/6)
print(x+y)

exam_1.167

In [30]:
'{0:<+8d}'.format(-123)

'-123    '

In [9]:
x = 5
y = 4
if x > y:
    print('5 > 4')
elif x < y:
    print('5 < 4')
else:
    print('5 == 4')

5 > 4

In [10]:
mylist = [2,4,6,8]
for x in range(mylist):
    print(x)
else:
    print('the for loop is over')

TypeError: 'list' object cannot be interpreted as an integer

In [2]:
a, b, c, d = 'python', 'data', 'science', 2019
print(a,'and',b,c,'in',d)

python and data science in 2019

In [33]:
'python'[0]

'p'

In [46]:
s1 = 'divide'
s2 = 'floor'
x1=5
x2=2
print(s1,'and',s2,':',x1//x2)

divide and floor : 2

In [47]:
x = 0
while x <= 2019:
    x += 1000
else:
    print(x)

3000

In [48]:
print("Data Science"):

SyntaxError: invalid syntax (4208764817.py, line 1)

In [51]:
"Python"[0]

'P'

In [54]:
for x in [1, 2, 3]:
    print(1)

1
1
1

In [55]:
mark = 88
grade = 'HD'
print(f'Mark = {mark} and grade = {grade}')

Mark = 88 and grade = HD

In [56]:
mark = 65
grade = "CR"
print('My mark = {mark} and my grade = {grade}')

My mark = {mark} and my grade = {grade}

In [57]:
x = 5
y = 4
if x > y:
    print('5 > 4')
else if x < y:
    print('5 < 4')
else:
    print('5 == 4')

SyntaxError: expected ':' (1140131928.py, line 5)

In [59]:
mylist = [2, 4, 6, 8]
for x in range(mylist):
    print(x)
else:
    print('The for loop is over')

TypeError: 'list' object cannot be interpreted as an integer

In [60]:
s = "Hi there!"
#define function 
def get_mark(m):
    global s
    s = 'Your mark is ' + str(m)
    print('s1 = ' + s)
    return s
# end of function
get_mark(99)
print('s2 = ' + s)

s1 = Your mark is 99
s2 = Your mark is 99

In [3]:
while True:
    x = int(input("Enter a number:"))
    if(x > 10):
        break

Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 10
Enter a number: 11

In [6]:
for x in range(1.,3):
    print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
my_list = [1,3,5,7,8]
my_list.sort()
my_list

[1, 3, 5, 7, 8]